.app{
    padding-top: 130px;
    padding-bottom: 70px;
    color: white;
    background-color: #39455a;
    min-height: 100vh;
}

@media(max-width:700px) {
    .app{
        padding-top: 70px;
    }
}